@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #ffffff;
	--color-yellow: #f1c21b;
  --color-black:#000000
}

body{
  font-family: 'Rampart One', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}