@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Rampart+One&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Galindo', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
  
}

*::selection {
  background-color: var(--main-color);
  color: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
	--main-color: #f1c21b;
  --tetx-color:#000000;

  --big-font: 4rem;
  --h2-font: 2.24rem;
  --p-font: 0.9rem;
}

section{
  padding: 50px 10%;
}

body{
  color: var(--tetx-color);
  background-color: var(--bg-color);
}

/* header section */

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  /* z-index: 1000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  /* box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1); */
  box-shadow: 1px 1px 3px 4px #ffff7f;
  background-color: black;
}

.logo{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a{
  font-size: 1rem;
  padding:10px 20px;
  font-weight: 500;
  color: var(--tetx-color);
  color:#ffffff
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* home section */

.home{
  width: 100%;
  height:100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.home-img img{
  width: 100%;
}

.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);
}

.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 1rem;
}

.btn{
  display: inline-block;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: #ffffff;
}

.btn:hover{
  background:yellow;
}

/* about section */

.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  align-items: center;
  background-color: #f7f3f2;
}

.about-img img{
  max-width: 80%;
  border-radius: 0.5rem;
}

.about-text span{
  color: var(--main-color);
  font-weight: 500;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  margin: 0.8rem 0 1.8rem;
}

.heading{
  text-align: center;
}

.heading span{
  color: var(--main-color);
  font-weight: 500;
}

.heading h2 {
  font-size: var(--h2-font);
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  align-items:center;
}

.box{
position: relative;
margin-top: 2rem;
height:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
/* box-shadow: 0 2px 4px rgb(4 64 54 / 10%); */
box-shadow: 1px 1px 3px 4px #ccc;
padding:10px;
}

.box-img{
  width: 200px;
  height: 200px;
}

.box-img img{
  width: 100%;
  height:100%;
}